@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (max-width: 55em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 43em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 32.5em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 22em) {
  html {
    font-size: 25%;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 100vh;
  background-color: rgb(39, 38, 38);
  z-index: 100;
  opacity: 90%;
  inset: 0;
}

.how {
  list-style: none;
}

.how li:not(:last-child) {
  margin-bottom: 1rem;
}

.works {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: white;
  position: absolute;
  padding: 2rem;
  width: 45rem;
  z-index: 200;
  opacity: 90%;
}

.btn--start {
  margin-top: 1rem;
  color: #c7365f;
  align-self: center;
  margin-bottom: 1rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--start:active {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

/* LAYOUT */
main {
  position: relative;
  width: min(99%, 100rem);
  height: min(99%, 60rem);
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

@media (max-width: 34.5em) {
  .player {
    padding: 3rem;
  }
}
@media (max-width: 22em) {
  .player {
    padding: 1.5rem;
  }
}

@media (max-height: 13em) {
  .player {
    padding: 0.5rem;
  }
}
/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media (max-width: 22em) {
  .name {
    font-size: 2.5rem;
  }
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

@media (max-height: 21.5em) {
  .current {
    padding: 1rem;
    width: 50%;
  }
}
@media (max-height: 13em) {
  .current {
    padding: 0.5rem;
    width: 40%;
  }
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

@media (max-height: 13em) {
  .current-label {
    margin-bottom: 0.3rem;
  }
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 40%;
}

.btn--roll {
  top: 55%;
}
.btn--hold {
  top: 65%;
}

@media (max-height: 30em) {
  .btn--new {
    top: 45%;
  }

  .btn--roll {
    top: 63%;
  }
  .btn--hold {
    top: 75%;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

@media (max-height: 20em) {
  .dice {
    top: 10%;
  }
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
